* {
  margin: 0;
  padding: 0;
  font-family: 'Baloo Bhai 2', sans-serif;
  color: #26293C;
}

header,
main,
footer,
nav,
aside,
section,
article {
  display: block;
}

a {
  text-decoration: none;
}
